@import "variables", "reset";

body {
  width: 100%;
  background-color: $primaryColor1;
  background-image: url("/images/bg-pattern-top.svg"),
    url("/images/bg-pattern-bottom.svg");
  background-position: right 45vw bottom 45vh, 45vw 45vh;
  background-repeat: no-repeat;
}

.main-section {
  width: 90%;
  max-width: 35rem;
  margin: 5rem auto;
  background-color: #fff;
  border-radius: 1rem;
  .pattern-card {
    width: 100%;
    height: 40%;
    border-radius: 1rem 1rem 0 0;
  }
  .victors-portret {
    width: 50%;
    max-width: 10rem;
    height: auto;
    display: block;
    border-radius: 50%;
    margin: -5rem auto 0;
    outline: 0.4rem solid #fff;
  }

  .about-victor {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 2rem auto;
    .about {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin: 0 auto 2rem;
      border-bottom: 0.1rem solid lightgray;
      .name {
        font-weight: bold;
        font-size: 1.8rem;
        color: $primaryColor2;
        .age {
          padding: 0 0.5rem;
          color: $neutralColor1;
        }
      }
      .city {
        font-size: 1.3rem;
        color: $neutralColor1;
        margin-bottom: 2rem;
      }
    }
    .statistics {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      margin-bottom: 2rem;

      .followers,
      .likes,
      .photos {
        display: flex;
        flex-direction: column;
        align-items: center;
        .number {
          font-size: 1.8rem;
          color: $primaryColor3;
          font-weight: bold;
        }
        .category {
          letter-spacing: 0.2rem;
          color: $neutralColor1;
        }
      }
    }
  }
}

.attribution {
  text-align: center;
  font-size: 1.8rem;
  color: $primaryColor2;
  a {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
  }
}
